<!-- Editarusuario.html -->
{% extends 'master.html' %} {% block additional_styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/paginas.css') }}"
/>
{% endblock %}{% block content %}

<h2>Editar Informações do Usuário</h2>

<form
  class="form-container"
  id="meuFormulario"
  action="{{ url_for('usuarios.editar_usuario', usuario_id = usuario.id)}}"
  method="POST"
>
  <div class="cadastro-container">
    <!-- Campos de formulário semelhantes aos da página de cadastro -->
    <label for="nome">Nome:</label>
    <input
      type="text"
      id="nome"
      name="nome"
      required
      value="{{ usuario.nome }}"
    />

    <label for="email">email:</label>
    <input
      type="text"
      id="email"
      name="email"
      required
      value="{{ usuario.email }}"
    />

    <label for="senha">senha:</label>
    <input
      type="password"
      id="senha"
      name="senha"
      required
      value="{{ usuario.senha }}"
    />
    <br /><br /><input type="checkbox" onclick="togglePasswordVisibility()" />
    Mostrar senha
  </div>
  <!-- Adicione outros campos conforme necessário -->
  <div class="btn-container" id="btnClienteCadastro">
    <button type="submit">Atualizar Usuário</button>
    <button type="button" class="btn-cancelar" onclick="cancelar()">
      Cancelar
    </button>
  </div>
</form>

<script>
  function togglePasswordVisibility() {
    var senhaInput = document.getElementById("senha");
    if (senhaInput.type === "password") {
      senhaInput.type = "text";
    } else {
      senhaInput.type = "password";
    }
  }
</script>
{% endblock %}
