<!-- Usuario.html -->
{% extends 'master.html' %} {% block additional_styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/paginas.css') }}"
/>
{% endblock %}{% block content %}

<h2>Clientes Cadastrados</h2>

<div class="list-cliente-container">
  <form
    class="form-container"
    method="GET"
    action="{{ url_for('usuarios.pesquisar_usuario') }}"
  >
    <!-- Input e label aqui -->
    <label for="nome">Nome do usuário:</label>
    <input
      type="text"
      id="nome"
      name="nome"
      placeholder="Digite o nome do Usuário..."
    />

    <!-- Botões aqui -->
    <div class="btn-container" id="btnClienteConsulta">
      <button id="btn-consultar">Consultar</button>
    </div>
  </form>
  <div class="btn-novo">
    <a href="{{ url_for('usuarios.cadastro_usuario') }}">
      <button id="btn-novo">Novo</button></a
    >
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Usuário</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    {% for usuario in usuarios %}
    <tr>
      <td>{{ usuario.nome }}</td>
      <td class="icone">
        <a
          href="{{ url_for('usuarios.editar_usuario', usuario_id=usuario.id) }}"
        >
          <span class="icon"> <ion-icon name="search-outline"></ion-icon></span
        ></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
  <!-- Adicione a lógica da paginação aqui -->
</div>

{% endblock %}
