<!-- Cadastroclientes.html -->
{% extends 'master.html' %} {% block additional_styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/paginas.css') }}"
/>
{% endblock %}{% block content %}

<h2>Cadastra Novo Cliente</h2>

<form
  class="form-container"
  id="meuFormulario"
  method="POST"
  action="{{ url_for('clientes.cadastrocliente') }}"
>
  <div class="cadastro-container">
    <!-- Campos de formulário semelhantes aos da página de cadastro -->
    <label for="nome">Condominio</label>
    <input type="text" id="nome" name="nome" />

    <label for="telefone">Telefone</label>
    <input type="tel" id="telefone" name="telefone" />

    <label for="endereco">Endereço</label>
    <input type="text" id="endereco" name="endereco" />
  </div>
  <!-- Adicione outros campos conforme necessário -->
  <div class="btn-container" id="btnClienteCadastro">
    <button type="submit">Gravar Cliente</button>
    <button type="button" class="btn-cancelar" onclick="cancelar()">
      Cancelar
    </button>
  </div>
</form>

{% endblock %}
